body {
    font-family: Courier;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1em;
}
h4{
    text-align: center;
    color:black;
    font-size:15px;
    line-height: 5px;
}
h5{
    text-align: center;
    color:red;
    font-size:50px;
    line-height: 50px;
}
label {
    display: block;
    margin-top: 1em;
}
label > input {
    margin-left: 1em;
}
.status{
    color:red;
}
#statusContainer{
    margin: 10px auto;
    width:50%;
    border:solid black 2px;
}


/*Video*/
#videos{
    max-width: 100%;
    padding: 10px;
    height:100%;
    text-align: center;
    margin:auto;
    float:left;
}
.vid {
    float:left;
    width:48%;
    margin:5px;
}
.feedContainer {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    width:100%;
}
.broadcasterVid{
    width:100%;
}
.feedTitle{
    height:24px;
    font-size:18px;
}




/*Settings*/
.controls{
    position: relative;
    text-align: center;
}
.settings{
    width:150px;
    height:30px;
    margin:5px;
}

.inputSelector{
    width:480px;
    margin: 0 auto;
    height:auto;
    border:2px solid black;
    text-align: center;
    padding: 0 10px 10px;
}

.zeroVid{
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:0;
}

.general-container {
    max-width:70%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.chat-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.chat{
    margin:5px;
    height:800px;
}
