body {
    font-family: Courier;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}
h4{
    text-align: center;
    color:black;
    font-size:15px;
    line-height: 5px;
}
h5{
    text-align: center;
    color:red;
    font-size:50px;
    line-height: 50px;
}
label {
    display: block;
    margin-top: 1em;
}
label > input {
    margin-left: 1em;
}
.status{
    color:red;
}
#statusContainer{
    margin: 10px auto;
    width:50%;
    border:solid black 2px;
}


/*Video*/
#videos{
    max-width: 100%;
    padding: 10px;
    height:100%;
    text-align: center;
    margin:auto;
    float:left;
}
.vid {
    float:left;
    width:48%;
    margin:5px;
}
.feedContainer {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    width:100%;
}
.broadcasterVid{
    width:100%;
}
.feedTitle{
    height:24px;
    font-size:18px;
}




/*Settings*/
.controls{
    position: relative;
    text-align: center;
}
.settings{
    width:150px;
    height:30px;
    margin:5px;
}


