/*Map Selection*/
.mapBox {
    float:left;
    text-align:center;
    width:100%;
    height:100%;
    border-bottom: solid black 1px;
}
.mapContainer {
    float:left;
    text-align:center;
    width:14%;
    height:100%;
    border: solid black 1px;
}
#mapSelectionContainer{
    width:100%;
    padding-top:20px;
    padding-bottom:0px;
    margin-bottom:15px;
    height:250px;
    float:left;
}
#playerMapSelectionContainer{
    width:100%;
    padding-top:20px;
    padding-bottom:0px;
    margin-bottom:15px;
    height:80px;
}
.playerMapContainer {
    float:left;
    text-align:center;
    width:14%;
    height:230px;
    border: solid black 1px;
}
.playerMapBox {
    float:left;
    text-align:center;
    width:100%;
    height:200px;
    border-bottom: solid black 1px;
}
.playerButton {
    text-align:center;
    width:75%;
    height:20px;
    border: black solid 1px;
    margin: 3px auto 0;
    border-radius: 10%;
}
.mapTitle{
    padding:0;
    margin:0;
    text-align: center;
    width:100%;
    float:left;
}
.mapData{
    font-size:11px;
    margin:0;
    text-align: center;
    width:100%;
    float:left;
}
.mapImage{
    width:100%;
    float:left;
}
.dataTitle{
    font-weight:600;
    float:left;
    width:100%;
    margin: 10px 0 0;
    height:12px;
}
.data{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin:0;
    float:left;
    width:100%;
    height:24px;
}
.mapOrder{
    font-weight:600;
    float:left;
    width:100%;
    margin: 10px 0;
    height:16px;
    font-size:16px;
}
.teamSide{
    line-height: normal;
    float:left;
    width:100%;
    height:24px;
    margin: 10px 0 0;
}
