@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-condensed.bold-webfont.woff2') format('woff2'),
    url('fonts/roboto-condensed.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    max-width: 1920px;
    max-height: 1080px;
    font-family: 'roboto', sans-serif;
    /*background-image: url("/media/misc/materialBackground.jpg");*/
    /*background-size: 1920px 1080px;*/
}

video{
    width:100%;
}

/*Active Player Camera*/
.active-player{
    position:absolute;
    width:480px;
    height:360px;
    left:1440px;
    top:200px;
}
.active-player-video{
    width:100%;
    height:100%;
}

/*Caster Camera*/
#casterCamContainer{
    position:absolute;
    width:100%;
    height:560px;
    left:0px;
    top:150px;
    transition: all 0.25s linear;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.casterVideo{
    position: absolute;
    width:900px;
    height:675px;
    top:30px;
    left:40px;
    transition: all 0.25s linear;
    animation: fadein .5s;
    background-color: darkgrey;
}

.casterTwo{
    left:980px;
}

/*All Players Cameras*/
#allPlayersContainer{
    position:absolute;
    width:1320px;
    height:1000px;
    left:300px;
    top:30px;
}
.allPlayersVideo{
    width:640px;
    height:480px;
    margin:10px;
    transition: all 0.25s linear;
    animation: fadein .5s;
}

/*Team Cam Camera*/
#teamCamContainer{
    position:absolute;
    width:1480px;
    height:560px;
    left:220px;
    top:260px;
}
.teamCamVideo{
    width:720px;
    height:540px;
    margin:9px;
    border: 1px solid black;
    transition: all 0.25s linear;
    animation: fadein .5s;
}

/*Map Selection*/
#mapSelectionContainer{
    position: absolute;
    height:250px;
    bottom:30px;
    left:0;
    right:0;
    width:100%;
    margin: 0;
    transition: all 0.25s linear;
    animation: fadein .5s;
}

#unpickedMapsContainer{
    position:absolute;
    height:250px;
    bottom:0;
    right:0;
    background-color: grey;
}

@keyframes example {
    0%   {left:0;}
    25%  {left:200px;}
    100% {left:0;}
}

.mapContainer{
    border:4px solid gray;
    left:0px;
    position:absolute;
    height:250px;
    width:235px;
    bottom:0;
    margin-left:24px;
    margin-right:24px;
    background-color: #a9a9a9;
    transition: all 0.25s linear;
}

.mapStatus{
    background-color: #ff8530;
    color:#3b3b3b;
    width:100%;
    height:40px;
    line-height:40px;
    margin:0;
    font-size:25px;
    text-align:center;
}

.pickedCont{
    background-color: #ff8530;
    color:#3b3b3b;
    border: solid 4px forestgreen;
}

.bannedCont{
    background-color: #ff8530;
    color:#3b3b3b;
    border: solid 4px #3b3b3b;
    opacity: .5;
}

.banned{
    background-color: #ff8530;
}

.mapTitle{
    background-color: #3b3b3b;
    color: #ff9e3d;
    width:100%;
    height:40px;
    line-height:40px;
    margin:0;
    font-size:25px;
    text-align:center;
}

.mapImage{
    grid-area: 1 / 1 / 4 / 4;
    text-align: center;
    width:100%;
    height: 170px;
    bottom:0;
    opacity: 1;
}
.mapLogo{
    background-color: transparent;
    visibility: hidden;
    border: 0;
    grid-area: 2 / 2 / 3 / 3;
    width:100%;
    height:100%;
    opacity: 1;
    z-index:1;
}
.mapImageGrid {
    display: grid;
    grid-template-columns: 1fr 110px 1fr;
    grid-template-rows: 1fr 110px 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

@keyframes slide-timeout-down {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide-timeout-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-300px);
    }
}

#timeoutContainer{
    position: absolute;
    left:830px;
    top:50px;
    width:250px;
    height:150px;
    background-color: #3b3b3b;
    border:5px solid #ff9e3d;
    animation: slide-timeout-down .5s ease;
}

#timeoutTitle{
    color:#ff9e3d;
    width:100%;
    height:40px;
    line-height:40px;
    margin:0;
    font-size:30px;
    text-align:center;
    top:0;
}

#timeoutTeam{
    background-color: #ff9e3d;
    color:#3b3b3b;
    width:100%;
    height:30px;
    line-height:30px;
    margin:0;
    font-size:20px;
    text-align:center;
    top:0;
}

#timeoutClock{
    color:#ff9e3d;
    width:100%;
    height:80px;
    line-height:80px;
    margin:0;
    font-size:75px;
    text-align:center;
    top:0;
}

/* On the fly animations */
@keyframes slide-team-video-up {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* On the fly animations */
@keyframes slide-team-video-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(1000px);
    }
}
